html,
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    position: relative;
    height: 100%;
    margin: 0;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90vw;
    height: 90vh;
    font-family: Roboto, sans-serif; 
}

.wrap h1 {
    font-weight: 400;
    height: 30px;
    margin: 0;
}

.progress {
    margin: auto;
}

.progress svg {
    width: 240px;
    height: 240px;
}

.progress-bar {
    stroke-dashoffset: 0%;
    -webkit-transition: stroke-dashoffset 0.35s;
    transition: stroke-dashoffset 0.35s;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.control {
    display: flex;
}

.control__text {
    margin: auto 5px;
    font-family: Roboto, sans-serif; 
}

.switch {
    margin: 5px;
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.control__slider {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(146, 146, 146);
    border-radius: 34px;
}

.control__slider:before {
    content: "";
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: 26px;
    height: 26px;
    background-color: rgb(212, 212, 212);
    border-radius: 26px;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .control__slider {
    background-color: rgb(128, 207, 54);
}

input:checked + .control__slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: rgb(255, 255, 255);
}

.control__value {
    width: 52px;
    height: 26px;
    margin: 5px;
    padding: 1px;
    border: 3px solid #ccc;
    border-radius: 34px;
    font-family: Roboto, 'Open Sans', sans-serif;
    font-size: inherit;
    text-align: center;
    outline: none;
}

@media only screen 
and (max-width: 565px) 
and (min-width: 320px) {
    .wrap {
        display: block;
        text-align: center;
    }
    .desc {
        text-align: left;
        margin-bottom: 50px;
    }
    .controls {
        margin-top: 50px;
        display: inline-block;
    }
}